*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

.body--dark {
    background-color: hsl(235, 21%, 11%);
}

.body--light {
    background-color: hsl(0, 0%, 98%);
}

/* Header */

.header {
    height: 300px;
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main */

.main {
    position: relative;
    top: -200px;
    max-width: 600px;
    margin: auto auto;
}

.main__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__heading--dark {
    color: hsl(0, 0%, 100%);
}

.main__title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 12px;
}

.main__toggle {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}


.main__form {
    margin: 30px 0 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.main__form--dark {
    background-color: hsl(235, 24%, 19%);
}

.main__form--light {
    background-color: hsl(0, 0%, 100%);
}

.main__circle {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid hsl(233, 14%, 35%);
}

.main__input {
    flex: 1;
    margin-left: 20px;
    padding: 20px;
    padding-left: 0;
    font-size: 17px;
    background-color: transparent;
    border: 0;    
    font-family: "Josefin Sans", sans-serif;
}

.main__input--dark {
    color:hsl(234, 39%, 85%);
}

.main__input--light {
    color: hsl(235, 19%, 35%);
}

/* Todo */

.todo {
    border-radius: 5px;
}

.todo--dark {
    background-color: hsl(235, 24%, 19%);
}

.todo--light {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.1);
}

.todo__item {
    padding: 20px;
}

.todo__item--dark {
    border-bottom: 1px solid hsl(234, 11%, 30%);
}

.todo__item--light {
    border-bottom: 1px solid hsl(236, 33%, 92%);
}

.todo__item:hover .todo__remove {
    display: block;
}

.todo__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo__show {
    display: flex;
    align-items: center;
}

.todo__checkbox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.todo__label {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.todo__label--dark {
    border: 1px solid hsl(233, 14%, 35%);
}


.todo__label--light {
    border: 1px solid hsl(233, 11%, 84%);
}


.todo__checkbox:checked + .todo__label {
    background-image: 
        url("../images/icon-check.svg"),
        linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

.todo__content {
    font-size: 17px;
    margin-left: 20px;
}

.todo__content--dark {
    color:hsl(234, 39%, 85%);
}

.todo__content--light {
    color: hsl(235, 19%, 35%);
}

.todo__remove {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.todo__close {
    filter: brightness(2);
}

.todo__checkbox:checked ~ .todo__content--dark {
    color: hsl(234, 11%, 52%);
    text-decoration: line-through;
}

.todo__checkbox:checked ~ .todo__content--light {
    color: hsl(236, 9%, 61%);
    text-decoration: line-through;
}

.todo__footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.todo__left {
    font-size: 16px;
}

.todo__left--dark {
    color: hsl(233, 14%, 35%);
}

.todo__left--light {
    color: hsl(236, 9%, 61%);
}

.todo__options {
    display: flex;
}

.todo__option {
    margin-left: 10px;
    margin-right: 10px;
}

.todo__link {
    color: hsl(234, 11%, 52%);
    font-size: 16px;
    text-decoration: none;
}

.todo__link--dark:hover {
    color: hsl(236, 33%, 92%);
}

.todo__link--light:hover {
    color: hsl(235, 19%, 35%);
}

.todo__link--active {
    color: hsl(220, 98%, 61%);
}

/* Media Query */

@media only screen and (max-width: 640px) {
    /* Main */

    .main {
        margin: auto 20px;
    }
}

@media only screen and (max-width: 510px) {
    .todo__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .todo__left {
        flex: 1;
    }

    .todo__options {
        margin-top: 15px;
        order: 1;
        grid-column: span 2;
    }
}